<h1> <%= @user.first_name + ' ' + @user.last_name %> </h1>

<h3>Allergens:</h3>
<ul>
    <% @user.allergies.each do |al| %>
        <li>
            <b><%= al.name %>:</b> <%= al.specifics %>
        </li>
    <% end %>
</ul>

<br><br>

<h3>Food they’ve made:</h3>
<ul>
    <% @user.dishes.each do |dish| %>
        <li>
            Event: <%= link_to dish.event.name, dish.event %><br>
            <%= dish.name %> | <%= dish.details %>
        </li>
    <% end %>
</ul>

<br><br>

<h3>Parties they've attended:</h3>
<ul>
    <% @user.events.uniq.each do |event| %>
        <li>
            <%= link_to event.name, event %> | <%= event.date %>
        </li>
    <% end %>
</ul>
<br><br><br><br><br><br>
<%= link_to "< Home", users_path %>